<!DOCTYPE html>
<html>
  <head>
    <title>Radius - Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    
    <link = rel="stylesheet" type="text/css" href="styles.css" />
    
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    
    <script>
      var map;
      var myCenter = new google.maps.LatLng(42.730575, -73.681583);
      var marker;
      var circle;
      var infowindow;

      var infotext = '<div class="eventcontainer"><b>Info:</b><br><div class="eventinfocont">blah Blah blah blahbh labhbl hbhb aij bjoie fojsiojfsa fjosiejf j</div></div>';

      function initialize() {
        var mapOptions = {
         	  zoom: 8,
			      disableDefaultUI: true,
			      draggable: false,
          	center: myCenter,
          	mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('map_canvas'),
            mapOptions);


        

      }

      google.maps.event.addDomListener(window, 'load', initialize);

      function addMyMarker() {
        var radiusOptions = {
          strokeColor: "#FF0000",
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: "#FF0000",
          fillOpacity: 0.35,
          map: map,
          center: myCenter,
          radius: 5000
        };

        circle = new google.maps.Circle(radiusOptions);
        
        marker = new google.maps.Marker({
          position:myCenter,
          map:map,
          animation: google.maps.Animation.DROP,
        });

        infowindow = new google.maps.InfoWindow({
          content: infotext,
          position: map.getCenter(),
          map:map,
          height: 900
        });
        infoWindow.setMap(marker);
      }

      function removeMyMarker() {
        marker.setMap(null);
        circle.setMap(null);
        infoWindow.close(map);
      }

      google.maps.event.addListener(marker,'click',function() {
        infowindow.open(map,marker);
      });
	  
	  $(function() {

		 $("#radiusslider").slider({
			range:"min",
			value:7,
			min:1,
			max:25,
			orientation: "horizontal",
			animate: true,
			start: function(e,ui) {
				$("#myradiustxtin").val($("#radiusslider").slider("value"));
            },
			slide: function(e,ui) {
				$("#myradiustxtin").val($("#radiusslider").slider("value"));
            },
			stop: function(e,ui) {
				$("#myradiustxtin").val($("#radiusslider").slider("value"));
            },
		 });
		 
		 $("#myradiustxtin").blur(function() {
			$("#radiusslider").slider('value', $("#myradiustxtin").val()); 
		 });
		 $("#myradiustxtin").keyup(function(e) {
			 if (e.keyCode == 13) {
				 $("#myradiustxtin").blur();
			 }
		 });

		 $("#mydesctxtin").focus(function() {
			$("#mydesctxtin").animate({"height": "100px",}, 300 );
		 });
		 $("#mydesctxtin").blur(function() {
			$("#mydesctxtin").animate({"height": "50px",}, 300); 
		 });
     $("#mydesctxtin").keyup(function(e) {
        if (e.keyCode == 13) {
          $("#mydesctxtin").blur();
        }
     });


		 
	  });
    </script>
  </head>
  <body>
  <div id="wrapper">
  
  	<div id = "container">
    	<div id="leftoverlayopacity"></div>
        
    	<div id="leftoverlaycontainer">
        <div style = "position: relative;">
        	<div id="headerarea">
            	<p>Radius</p>
            </div>
        	<div id="profilepicture" style="background-image:url(<%= user.photo %>);"></div>
            <div id="profilenamearea">
            	<p><%= user.display_name %></p>
            </div>
            <div id="accountsettingsarea">
            	<a href>Account Settings</a>
            </div>
            <div id="logoutarea">
            	<a href="/home/logout">Logout</a>
            </div>    
            <div id="myeventarea">
                <div class="event-text"><p>Description:</p></div>
                <textarea id="mydesctxtin" placeholder="Enter event description..."></textarea>
                
                <div class="event-text"><p>Radius:</p></div>
                <input type="text" id="myradiustxtin" value="7"/>
                <div id="radiusslider"></div>
                <input type="button" id="csspostbtn" onClick="addMyMarker()" value="Post" />
                <input type="button" id="cssremovebtn" onClick = "removeMyMarker()" value="Remove" />
            </div> 
        </div>
        </div>
        
    	<div id="map_canvas"></div>
    </div>
    
    <div id="footer"><a>FAQ</a> <a>Contact Us</a></div>
  </div>
  </body>
</html>