<table border=1>
<tr><th>Photos</th><th>Display Name</th><th>Posts</th></tr>
<% users.each do |curr| %>
<tr><td>
  <img src="<%= curr.photo %>" /></td><td><%= curr.to_s %> | <%= curr.loc_lat %>, <%= curr.loc_lon %>
  </td>
  <td>
  <% curr.posts.each do |post| %>
    <%= post.to_s %>
    <br>
  <% end %>
  </td>
<% end %>
</table>