<% content_for :script do %>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    

    <script>
      var map;
      //sets center to the users set home location
      var myCenter = new google.maps.LatLng(<%= user.loc_lat %>, <%= user.loc_lon %>);
      var myMarker;
      var myCircle;
			var myUserID = <%= user.id %>;
      var myPost = null;
        
        //clicked post button in comment section in infowindow for an event
			function addMyComment(postId) {
        //set content to what is in comment textarea
				var content = $("#comment_area_" + postId).val();
				//send ajax request to add it to database
				var commentRequest = $.ajax({
										type: "POST",
										url: "/ajax/createComment",
										data: { postID: postId, content: content},
										dataType: "json"
									});
									//when done reload comment section with new post on end
									commentRequest.done(function(json)
									{
										json = $.parseJSON(json);
										$("#comment_area_" + postId).val("");
										var commentArea=$('#comment_section_' + postId);

                    if (commentArea.html() == "No comments.")
                      commentArea.html("");

										commentArea.html(commentArea.html() + json.content + " by " + json.user.display_name);
									});
			}
            
            //sets up google map area with correct markers displayed 
      function initialize() {
        var mapOptions = { 
            zoom: 13,
            minZoom: 11,
            disableDefaultUI: true,
            center: myCenter,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        //display map
        map = new google.maps.Map(document.getElementById('map_canvas'),
            mapOptions);

        //sets up button states/style
        $("#cssremovebtn").attr("disabled", "disabled");
        $("#cssremovebtn").css("color", "gray");
        $("#cssremovebtn").removeClass("enbl"); 
        
        $("#csspostbtn").attr("disabled", "disabled");
        $("#csspostbtn").css("color", "gray");
        $("#csspostbtn").removeClass("enbl");

        //curr is each posts info recieved from database
        //adds the post to the map
	  		addMarkers = function(curr) {
          //sets up map display objects
					var latlng = new google.maps.LatLng(curr.loc_lat,curr.loc_lon);
					var aradius = 1609.344 * curr.radius
					var acircle = {
						strokeColor: "#FF0000",
						strokeOpacity: 0.8,
						strokeWeight: 2,
						fillColor: "#FF0000",
						fillOpacity: 0.2,
						map: map,
						center: latlng,
						radius: aradius
					};
					var amarker = new google.maps.Marker({
						 position:latlng,
						 map:map,
						 animation: google.maps.Animation.DROP,
						 data: curr
					});
          //only draw a circle around our post to show our posts radius
					if (curr.user.id == myUserID) {
						var circle = new google.maps.Circle(acircle);
						myPost = curr;
						myCircle = circle;
						myMarker = amarker;
					}
					var posted = new Date(curr.time_posted);
          //all of the HTML to be displayed in the InfoWindow for each event.
					var ainfotext = '<div class="eventcontainer" style="padding-right: 16px"><div style="float: left; display: inline-block; width: 50px; height: 65px; overflow: hidden; margin-right: 5px;"><img src="' + curr.user.photo + '" style="max-height: 100px; max-width: 100px;" /></div><div style="padding-left: 5px; width: 300px; text-align: top;"><div><b>' + curr.user.display_name + '</b></div><div style="padding-top: 5px;">' + curr.content + '</div><div style="border-top: solid 1px grey; height: 15px;"><span style="float: left; font-size: 10px"><b>[' + curr.tag.name + ']</b></span><span style="float: right; font-size: 10px;">' + posted.toLocaleDateString() + '</span></div></div><div id="comment_section_' + curr.id + '" style="margin-left: 5px; border-top: solid 1px black; width: 300px;"><center><img src="/assets/load.gif"></center></div><textarea id="comment_area_' + curr.id + '" style="resize:none; width:200px; margin-top:5px;" placeholder="Enter a comment..."></textarea><input type="button" class="subbtns" style="float:right; margin-top:10px; " onClick="addMyComment(' + curr.id + ')" value="Post" /></div>';
          //create the infowindow object for the event
					var ainfowindow = new google.maps.InfoWindow({
						content: ainfotext,
						position: latlng,
						map: map,
						comments: null
					});

          //when user clicks a marker show/hide the infowindow for it
					google.maps.event.addListener(amarker,'click', function() {
						if (!ainfowindow.getMap()) { //closed
								ainfowindow.open(map, amarker);
								
                //request the comments for this post
								var commentRequest = $.ajax({
									type: "POST",
									url: "/ajax/getComments",
									data: { postID: curr.id },
									dataType: "json"
								});
									
                //when request is done
								commentRequest.done(function(json) {
									ainfowindow.comments = json;
									var commentArea=$('#comment_section_' + curr.id);
									if (json.length == 0) {
										commentArea.html("No comments."); 
									}
									else
									{
									// Process and display all the comments
  									var builtCommentHTML = "";
  									json.forEach(function(currComment) {
  										builtCommentHTML += currComment.content + " by " + currComment.user.display_name + "<br>";
									});
											
                      //rebuilds infowindow to auto resize for this new content
											commentArea.html(builtCommentHTML);
											ainfowindow.b.contentSize = new google.maps.Size(ainfowindow.b.contentSize.width, ainfowindow.b.contentSize.height + commentArea.height() + 1);
											google.maps.event.trigger(ainfowindow.b, 'contentsize_changed');
										}
									});
							}
						  else 
              {
							 ainfowindow.close(); //close if it was open
						  }
					});
					ainfowindow.close(); //originally closed when setting an infowindow
				}
		

        //call request for getPosts to finish off initializing
			var request = $.ajax({
				type: "POST",
				url: "/ajax/getPosts",
				dataType: "json"
			});
      //for each post we have we call addMarkers on that post to add it to the map
			request.done(function(json) {
			  json.forEach(function(curr) {
					addMarkers(curr);
				});
				
				updateBtn(); //check status on buttons for clickable or not
			});

	  	request.fail(function(jqXHR,textStatus) {
				alert("Request failed: " + textStatus);
				});                
      }

      //initialize google map
      google.maps.event.addDomListener(window, 'load', initialize);
            
      //when user clicks post button this adds their posts marker to map
      function addMyMarker() {
        //1609.344 meters per mile
        var myRadius = 1609.344 * $("#myradiustxtin").val();
        var radiusOptions = {
          strokeColor: "#FF0000",
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: "#FF0000",
          fillOpacity: 0.35,
          map: map,
          center: myCenter,
          radius: myRadius
        };
            //add to database
        var request = $.ajax({
            type: "POST",
            url: "/ajax/createPost",
            data: { content: $("#mydesctxtin").val(), radius: $("#myradiustxtin").val(), tag: $("#mytagtxtin").val() },
						dataType: "json"
				});
                //add to map if added to database
                request.done(function(newMarker) {
										newMarker = $.parseJSON(newMarker);
										addMarkers(newMarker);
                    /*circle = new google.maps.Circle(radiusOptions);
                    marker = new google.maps.Marker({
                        position:myCenter,
                        map:map,
                        animation: google.maps.Animation.DROP,
                    });*/
										updateBtn(); //check status on buttons for clickable or not
                });
                
                request.fail(function(jqXHR, textStatus) {
                    alert( "Request failed: " + textStatus );
                });
                
                
             
      }
      //user clicked Remove so will remove marker from database then map
      function removeMyMarker() {
				
				var request = $.ajax({
					type: "POST",
					url: "/ajax/removePost",
					data: { postID: myPost.id },
					dataType: "json"
				});
				
				myMarker.setMap(null);
        myCircle.setMap(null);
				
				myPost = null;
				updateBtn(); //check status on buttons for clickable or not
      }
      
      $(function() {
            //enables/disables usage of buttons based on certain cases 
            updateBtn = function(){
                
                if($('#mytagtxtin').val().length != 0 && $('#mydesctxtin').val().length != 0 && myPost == null){
                    $("#csspostbtn").removeAttr("disabled"); 
                    $("#csspostbtn").css("color", "#333");
                    $("#csspostbtn").addClass("enbl");
  									
                }   
                else {
                    $("#csspostbtn").attr("disabled", "disabled");
                    $("#csspostbtn").css("color", "gray");
                    $("#csspostbtn").removeClass("enbl"); 													
                }
  								
  							if (myPost != null) {
  								$("#cssremovebtn").removeAttr("disabled"); 
  								$("#cssremovebtn").css("color", "#333");
  								$("#cssremovebtn").addClass("enbl");	
  							}
  							else
  							{
  						    $("#cssremovebtn").attr("disabled", "disabled");
                  $("#cssremovebtn").css("color", "gray");
                  $("#cssremovebtn").removeClass("enbl");
  							}
            }
            //when input text changes butto status does too
            $('#mytagtxtin,#mydesctxtin').change(updateBtn);
                
            //when clicking Post clears fields
            $('#csspostbtn').click(function(){
                
                /*$("#csspostbtn").attr("disabled", "disabled");
                $("#csspostbtn").css("color", "gray");
                $("#csspostbtn").removeClass("enbl");    
                $("#cssremovebtn").removeAttr("disabled"); 
                $("#cssremovebtn").css("color", "#333");
                $("#cssremovebtn").addClass("enbl");*/
                $("#mytagtxtin").val('');
                $("#mydesctxtin").val('');
               
            });
            //when clicking Remove update buttons
            $('#cssremovebtn').click(function(){
                
                /*$("#cssremovebtn").attr("disabled", "disabled");
                $("#cssremovebtn").css("color", "gray");
                $("#cssremovebtn").removeClass("enbl");  */  
                
                updateBtn();
            });
            
            
            //sets up slide bar
            $("#radiusslider").slider({
              range:"min",
              value:5,
              min:1,
              max:10,
              orientation: "horizontal",
              animate: true,
              //change text value based on slider value
              start: function(e,ui) {
                  $("#myradiustxtin").val($("#radiusslider").slider("value"));
              },
              slide: function(e,ui) {
                  $("#myradiustxtin").val($("#radiusslider").slider("value"));
              },
              stop: function(e,ui) {
                  $("#myradiustxtin").val($("#radiusslider").slider("value"));
              },
            });
         
            //change slider value to text value
            $("#myradiustxtin").blur(function() {
                $("#radiusslider").slider('value', $("#myradiustxtin").val()); 
            });
            //lose focus when hitting enter for radius distance txt
            $("#myradiustxtin").keyup(function(e) {
               if (e.keyCode == 13) {
                   $("#myradiustxtin").blur();
               }
            });
            //enlrage text area when focused
            $("#mydesctxtin").focus(function() {
              $("#mydesctxtin").animate({"height": "100px",}, 300 );
            });
            //shrink when unfocused
            $("#mydesctxtin").blur(function() {
                $("#mydesctxtin").animate({"height": "50px",}, 300); 
            });
            //lose focus when hitting enter
            $("#mydesctxtin").keyup(function(e) {
                if (e.keyCode == 13) {
                  $("#mydesctxtin").blur();
                }
            });


  	

	     });
    </script>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300">
<% end %>

<div id="wrapper">
  
      <div id = "container">
        <div id="leftoverlayopacity"></div> 
        
        <div id="leftoverlaycontainer">
        <div style = "position: relative;">
            <div id="headerarea">
                <p>Radius</p>
            </div>
            <div id="profilepicture" style="background-image:url(<%= user.photo %>);"></div>
            <div id="profilenamearea">
                <p><%= user.display_name %></p>
            </div>
            <div id="accountsettingsarea">
                <a href="/home/newUser">Account Settings</a>
            </div>
            <div id="logoutarea">
                <a href="/home/logout">Logout</a>
            </div>    
            <div id="myeventarea">
                <div class="event-text"><p>Description:</p></div>
                <textarea id="mydesctxtin" placeholder="Enter event description..."></textarea>
                <div class="event-text"><p>Tag:</p></div>
                <textarea id="mytagtxtin" placeholder="Enter a tag..."></textarea>
                <div class="event-text"><p>Radius:</p></div>
                <input type="text" id="myradiustxtin" value="5"/>
                <div id="radiusslider"></div>
                <input type="button" class="btns" id="csspostbtn" onClick="addMyMarker()" value="Post" />
                <input type="button" class="btns" id="cssremovebtn" onClick = "removeMyMarker()" value="Remove" />
            </div> 
        </div>
        </div>
        
        <div id="map_canvas"></div>
    </div>
    
    <div id="footer"><p>FAQ Contact Us</p></div>
  </div>
