<% content_for :script do %>
    <script type="text/javascript">
    //sets up area for the use of janrain for login purposes
    (function() {
        if (typeof window.janrain !== 'object') window.janrain = {};
        if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};
        
        janrain.settings.tokenUrl = 'http://localhost:3000/home/login';

        function isReady() { janrain.ready = true; };
        if (document.addEventListener) {
          document.addEventListener("DOMContentLoaded", isReady, false);
        } else {
          window.attachEvent('onload', isReady);
        }

        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.id = 'janrainAuthWidget';

        if (document.location.protocol === 'https:') {
          e.src = 'https://rpxnow.com/js/lib/radius/engage.js';
        } else {
          e.src = 'http://widget-cdn.rpxnow.com/js/lib/radius/engage.js';
        }

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(e, s);
    })();
    </script>
<% end %>

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300">

<div id="landingBackground">
    <div id="landingBGimage"></div>
    <div id="positionalLayer">
        <div id="landingOpacityLayer">
        
        </div>
        <div id="landingTextLayer">
            <div id="login">
                <p id="welcome" style="margin-top: 20px; margin-bottom: 10px;"><% 
                if user.isNewUser %>
                    welcome
                <% else %>
                    account settings for
                <% end %> <%= user.display_name.downcase %></p>
                <hr>
                <p id="welcome2" style="margin-top: 15px; margin-bottom: 10px;">what's your address?</p>
                <form method="get"><input type="text" name="address" /> <input type="submit" /></form>
            </div>
        </div>
    </div>
</div>
