// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landingBackground
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#landingBGimage {
    position: absolute;
    left: 50%;
    margin-left: -960px;
    background:url('earth_night.jpg') no-repeat;
    width: 1920px;
    height: 100%;
}

#positionalLayer
{
    position: relative;
    width: 800px;
    height: 225px;
    min-width: 20%;
    margin-left: auto;
    margin-right: auto;
    top: 35%;
}

#landingOpacityLayer
{
    position: relative;
    width: 800px;
    height: 225px;
    min-width: 20%;
    background-color: #4E4343;
    border-radius: 5px;
    opacity: 0.75;
    z-index: 50;
}

#landingTextLayer
{
    position: relative;
    width: 750px;
    height: 30%;
    min-width: 20%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    padding: 30px 30px 15px 30px;
    text-align: center;
    font-family: Open Sans, serif;
    font-size: 200%;
    color: white;
    z-index: 100;
    top: -250px;
}

welcome.p {font-size: 200%;}




// CSS for loggedin
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color:#FFF;
}
A:link {text-decoration: none; color:#FF0;}
A:visited {text-decoration: none; color:#FF0;}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: orange;}
#wrapper {
    position:relative;
    height:100%;
    width:100%;
}
#container {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    height: 96.5%;
    width: 95%;
    min-height:650px;
    min-width:1250px;
    background-color:#000;
}
#map_canvas {
    height: 100%;
    width: 100%;
    min-height: inherit;
    min-width: inherit;
}
#leftoverlayopacity {
    position:absolute;
    float:left;
    width:250px;
    height:100%;
    min-height:inherit;
    background-color: #04356C;
    border-radius:5px;
    opacity: 0.5;
    z-index:50;
}
#leftoverlaycontainer {
    position:absolute;
    float:left;
    width: 250px;
    height: 100%;
    min-height: inherit;
    border-radius:5px;
    z-index:50;
}
#headerarea {
    text-align:center;

    margin-top:-30px;

    font-weight:bold;
    font-variant:small-caps;
    font-size:38px;
    color:#333;
    text-shadow: white 0 0 0.2em;
    z-index:51;
}
#profilepicture {
    height:150px;
    width:150px;

    margin-left:15px;
    margin-top:-20px;
    
    background-color:#F00;

    border-color:#000;
    border-radius:10px;
    border:thin;
    border-style:solid;

    z-index:51;
}
#profilenamearea {
    margin-left:15px;
    margin-top:-20px;

    font-variant:small-caps;
    font-size: 26px;
    font-weight:bold;
    text-shadow: white 0 0 0.2em;
    z-index:51;
}
#accountsettingsarea {
    margin-left: 15px;
    margin-top: -20px;
  
    font-variant: small-caps;
    font-size: 24px;
  
    z-index:51;
}
#logoutarea {
    margin-left: 15px;
  
    font-variant: small-caps;
    font-size: 24px;
  
    z-index:51;
}
#myeventarea {
    margin-left: 5px;
    margin-top: 7px;
    margin-right: 12px;  

    min-height:310px;
 
    background-color:#FFF;
  
    border-color:#000;
    border-radius:10px;
    box-shadow: 10px 10px 5px #888888;
}
.event-text {
    margin-top: -7px;
    font-weight:bold;
    font-variant:small-caps;
    float:left;
    clear: left;
}
#mydesctxtin {
    margin-top:-10px;
    margin-left: 5px;
    width:90%;
    height:50px;
    resize:none;
    font-size: 12px;
}
#mytagtxtin {
    width:76%;
    margin-left: 5px;
    resize:none;
    font-size: 12px;
}
#myradiustxtin {
    margin-top: 10px;
    margin-left: 4px;
    float: left;
    border:none;
    width: 15%;
}
#radiusslider .ui-slider-handle {
    height: 15px;
    width: 15px;
}
#radiusslider {
    position: relative;
    margin-left: 10px;
    margin-right: auto;
    clear: both;
    width: 90%;
    height: 7px;  
}

.subbtns {
    margin-top: 20px;
    font-size: 12px;
    background: #fff no-repeat 4px 5px;
    display: inline-block;
    padding: 5px 20px 6px;
    color: #333;
    border:1px solid #CCC;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.2em;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    position: relative;
    cursor: pointer;
    outline:none;
}

.btns {
    margin-top: 20px;
    font-size: 12px;
    background: #fff no-repeat 4px 5px;
    display: inline-block;
    padding: 5px 20px 6px;
    color: #333;
    border:1px solid #CCC;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.2em;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    position: relative;
    cursor: pointer;
    outline:none;
}

#csspostbtn.enbl:hover {
    border:1px solid #000;
}

#cssremovebtn.enbl:hover {
    border:1px solid #000;
}

.subbtns:hover {
    border:1px solid #000;
}

#button {
    background-image:url('radius login button2.psd');
    width: 357px;
    height: 63px;
    cursor: pointer;
    border: none;
}

#footer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
    margin-bottom: 5px;
    bottom: 0%;
    width:95%;
    height:30px;
    border-top:ridge;
    border-bottom:ridge;

    text-align:start;
}