<!DOCTYPE html>
<html>
<head>
  <title>Radius <% yield :title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'gmaps4rails', :media => "all" %>
  <%= yield :script %>
</head>
<body>

<%= yield %>

  <%= yield :scripts %>
</body>
</html>
